<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conference Room Reservation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
      background-color: #f5f5f5;
    }
  </style>
</head>
<h3>Conference rooms reservation</h3>
<section> Menu:<br><br>
<nav>
<ul>
<li><a href="/">List of all conference rooms</a></li>
<li><a href="/room/new/">Add a conference room</a></li>

</ul>
</nav>
</section>


<table class="table">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-2">Name</th>
      <th scope="col" class="col-1">Capacity</th>
      <th scope="col" class="col-5" colspan="4">Projector availability</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr class="d-flex">
      <th scope="row" class="col-1">{{ room.id }}</th>
      <td class="col-2">
        <a href="/room/{{ room.id }}/">{{ room.name }}</a>
      </td>
      <td class="col-1">{{ room.capacity }}</td>
      {% if room.projector_available %}
        <td class="col-2" style="color:green;">&#9745;</td>
      {% else %}
        <td class="col-2" style="color:red;">&#9746;</td>
      {% endif %}
      <td class="col-1">
        <a href="/room/modify/{{ room.id }}/">edit</a>
      </td>
      <td class="col-1">
        <a href="/room/delete/{{ room.id }}/">delete</a>
      </td>
      <td class="col-1">
        <a href="/room/reserve/{{ room.id }}/">reserve</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="6">Brak dostępnych sal</td></tr>
    {% endfor %}
  </tbody>
</table>
<!-- table -->

<footer class="footer">
  <span class="text-muted">Autor: Szymon Żuk</span>
</footer>
</body>
</html>
